<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<body>
    <div layout:fragment="content">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://spring.io/projects/spring-boot" target="_blank">building Web apps with
                    SpringBoot</a>.</p>

            <br />
            <img src="images/yellow_small.gif" />
            <p>Version 2</p>
        </div>
    </div>
</body>

</html>